@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "reset";

  :root {
    --black: 0, 0, 0;
    --white: 255, 255, 255;

    --background: 3, 12, 36;
    --foreground: 255, 255, 255;

    --primary: 0, 255, 163;
    --primary-foreground: 3, 12, 36;

    --secondary: 32, 48, 49;
    --secondary-foreground: 255, 255, 255;

    --accent: 240, 238, 217;
    --accent-foreground: 57, 27, 27;

    --destructive: 222, 106, 106;
    --destructive-foreground: 255, 255, 255;

    --success: 31, 178, 37;
    --success-foreground: 255, 255, 255;

    --warning: 253, 130, 4;
    --warning-foreground: 255, 255, 255;

    --muted: 245, 245, 247;
    --muted-foreground: 177, 177, 177;
    --muted-background: 249, 250, 251;

    --popover: 255, 255, 255;
    --popover-foreground: 0, 0, 0;

    --card: 3, 12, 36;
    --card-foreground: 255, 255, 255;

    --border: 120, 135, 160;
    --input: 0, 0, 12;

    --neutral-100: 242, 244, 247;
    --neutral-200: 234, 236, 240;
    --neutral-300: 208, 213, 221;
    --neutral-400: 152, 162, 179;
    --neutral-500: 102, 112, 133;
    --neutral-600: 71, 84, 103;
    --neutral-700: 52, 64, 84;
    --neutral-800: 29, 41, 57;
    --neutral-900: 16, 24, 40;

    --ring: 0, 255, 163;

    --input-foreground: 255, 255, 255;
    --input-placeholder: 177, 177, 177;
    --input-disabled: 253, 253, 253;
    --input-border: 0, 0, 0;
    --input-ring: 0, 255, 163;

    --shadow-sm: 0px 24px 20px -8px rgba(181, 181, 183, 0.18);
    --shadow-button: 0;
    --shadow-button-hover: 0;

    --shadow-card: 0;
    --shadow-card-hover: 0px 24px 20px -8px rgba(181, 181, 183, 0.18);
    --shadow-modal: 0px 24px 20px -8px rgba(181, 181, 183, 0.18);
    --shadow-popover: 0px 24px 20px -8px rgba(181, 181, 183, 0.18);
    --shadow-input: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

    --radius: 0.5rem;
    --radius-modal: 0.5rem;
    --radius-popover: 0.4rem;
    --radius-card: 0.5rem;
    --radius-button: 0.5rem;
    --radius-input: 0.5rem;
    --radius-full: 9999px;

    --font-size-hero: 2.5rem;
    --font-size-title: 1.5rem;
    --font-size-subtitle: 1.25rem;
    --font-size-heading: 1.125rem;
    --font-size-body: 1rem;
    --font-size-subtext: 0.875rem;
    --font-size-caption: 0.75rem;

    --font-line-height-hero: 1;
    --font-line-height-title: 2rem;
    --font-line-height-subtitle: 1.75rem;
    --font-line-height-heading: 1.75rem;
    --font-line-height-body: 1.5rem;
    --font-line-height-subtext: 1.25rem;
    --font-line-height-caption: 1rem;
  }
}

@layer base {
  * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    @apply box-border m-0 p-0;
  }

  body {
    @apply bg-background font-sans flex flex-col min-h-screen;
    font-family: "Inter Variable", sans-serif;
  }

  #app {
    @apply flex flex-col w-full h-full flex-1;
  }

  img,
  video {
    @apply w-full h-full object-cover;
  }
}